.pg-normal{
	color: red;
}
.ul1{
	margin-top: -30px;
    margin-bottom: -30px;
    
}
.li2{
	padding: 5px;
	border-bottom: 1px solid #E0E0E0;
}
.li2:hover{
	color: red;
	border-left: 1px solid red;
}
.li2 a{
	margin-left: 5px;
	color: #54C6F4;
}
.row{
	margin-bottom: 0px;
}
.data{
	border-left: 1px solid #DDDDDD;
	
}
.row .col.data{
	min-height: 450px;
}
.divtable{
	min-height: 360px;
}
.ngang{
	margin-top: 3%;
}
.container1{
	margin-top: 0px;
	padding-top: 0px;
	width: 80%; 
	text-align: center; 
	background-color: white;
}
.con1{
	background-image: linear-gradient(#4E4FFD, #6982F2); 
	border-radius: 5px;
}
.con2{
	background-image: linear-gradient(#06B186, #71E6CB); 
	border-radius: 5px;
}
.con3{
	background-image: linear-gradient(#6AFAD3, #BFFAED); 
	border-radius: 5px;
}
.con4{
	background-image: linear-gradient(#D85950, #F38B8B); 
	border-radius: 5px;
}
.con5{
	background-image: linear-gradient(#F7CB3F, #EEC43F); 
	border-radius: 5px;
}
.con6{
	background-image: linear-gradient(#EFC53F, #FAE5A5); 
	border-radius: 5px;
}
.container .material-icons{
	font-size: 8rem; 
}
.icon1{
	font-size: 8rem; 
	float: left; 
	color: white;
}
.txt1{
	height: 8rem;
}
.txt1 h4{
	padding-top: 20px; 
	color: white;
}
.txt1 p{
	color: white;
}
.txt1 .p1{
	padding-top: 20px; 
	font-size: 23px;
}
.collapsible-header{
	color: #039BE7;
}
.divtablephanhoi{
	min-height: 410px;
}
.abtn:hover{
	color: #E61A5F;
}
#pageNavPosition{
	margin: 20px 0 20px 0;
}
