[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/vanhuy174
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vanhuy174
	label-Verified = -1..+1 group user/vanhuy174
	push = group user/vanhuy174
	read = group user/vanhuy174
	rebase = group user/vanhuy174
	removeReviewer = group user/vanhuy174
	submit = group user/vanhuy174
[access "refs/heads/*"]
	create = group user/vanhuy174
	push = +force group user/vanhuy174
	pushMerge = group user/vanhuy174
	read = group user/vanhuy174
[access "refs/tags/*"]
	push = group user/vanhuy174
	push = +force group user/vanhuy174
